<h2>企業理念</h2>
<p>Mary's Mission
私たちはお菓子を通じ
お客様の「想いを贈る」お手伝いをすることで
潤いのある生活づくりに貢献します</p>
<h2>社長挨拶</h2>
『ないもの」をつくりたい。
これからも。』<br><br>

<p>世の中には「ないもの」がまだまだいっぱいある。<br>
それを見つけ出し、つくることが「おいしい きもち！」につながる。<br>
この想いは創業時から変わらず、ながのCakeにしかできない<br>
デザートづくりのために日々チャレンジしています。<br>
たとえば、手づくりへのこだわり。<br>
手間と効率の両立を実現させるために、<br>
画期的な現場改革に取り組んでいます。<br>
技術力を磨き、豊かな発想力、確かな品質で<br>
これからも「ないもの」をつくりたい。<br>
チャレンジを続けるながのCakeにご期待ください。</p>
<h2>歴史・沿革</h2>
<p>2018年10月 長野県安曇野市においてケーキをはじめとする焼き菓子の販売を開始。</p>

<h2>品質保証の理念</h2>
<p>お客様への安全で高品質な商品・サービスの提供を通じて、
お客様のより豊かな生活に貢献します。</p>